[data-color="green"] {
    --accent-light: #0e7667;
    --accent-dark: #27f4e2;
}

[data-color="red"] {
    --accent-light: #cb1a29;
    --accent-dark: #eb6c68;
}

[data-color="blue"] {
    --accent-light: #0e6aba;
    --accent-dark: #54bef6;
}


:root {
    --background-color: #ffffff;
    --foreground-color: #000000;
    --background-color--opaque: #ffffffc0;
    --foreground-color--opaque: #00000011;
    --accent-color: var(--accent-light);
}

[data-theme="dark"] {
    --background-color: #121212;
    --foreground-color: #ffffff;
    --background-color--opaque: #121212c0;
    --foreground-color--opaque: #ffffff11;
    --accent-color: var(--accent-dark);
}

button:focus {
    /*outline: var(--accent-color) dotted 4px;*/
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: clip;
}

#content {
    width: calc(100vw - 1rem);
    padding: 0 .5rem;
}

body, input, button, .tooltip:after {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    color: var(--foreground-color);
}

input, button {
    background-color: transparent;
    border: none;
}

a {
    color: var(--foreground-color);
}

.loading {
    cursor: progress;
}

.loading .wi-data:before {
    content: "\f07b";
}

.loading .wi-data {
    transform: rotate(0deg) !important;
}

h1, h2 {
    text-align: center;
}

strong, h1, h2 {
    font-weight: 600;
}

.wi {
    font-size: 1.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.ident {
    text-indent: 1rem;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 60rem;
}

.line--accent {
    background-color: var(--accent-color);
    border-radius: 2px;
}

.line--regular {
    background-color: var(--foreground-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.hoverable {
    cursor: pointer;
    border-radius: .5rem;
    border: 4px solid transparent;
    transition: border .5s, background-color .5s;
}

.hoverable:hover {
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

.button--accent {
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.wi--alt-text--container {
    position: relative;
    width: 0;
    height: 0;
    bottom: 3.5rem;
    z-index: 50;
}

.wi--alt-text {
    position: absolute;
    white-space: nowrap;
    padding: .5rem;
    border-radius: .5rem;
    backdrop-filter: blur(.1rem);
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

#load-indicator {
    display: none;
    position: sticky;
    top: .5rem;
    height: 4px;
    margin-top: -4px;
    animation: load-indication .7s ease-in-out 0s infinite alternate, load-indication--margin-right .7s ease-in-out 0s infinite alternate;
}

.loading #load-indicator {
    display: block;
}

@keyframes load-indication {
    0% {
        margin-left: calc(50% - 10rem);
        margin-right: calc(50% + 8rem);
    }
    25% {
        margin-left: calc(50% - 10rem);
    }
    75% {
        margin-right: calc(50% - 10rem);
    }
    100% {
        margin-left: calc(50% + 8rem);
        margin-right: calc(50% - 10rem);
    }
}

#search {
    margin: .5rem auto 0;
    max-width: 25rem;
}

.search__input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    padding: .5rem 0;
}

#search .line--regular {
    height: 4px;
    width: 100%;
    margin: auto;
    transition: width .3s ease-in-out;
}

#search:focus-within .line--regular {
    width: 2rem;
    background-color: var(--accent-color);
}

#search__suggestions {
    display: none;
    position: absolute;
    z-index: 50;
    top: 4rem;
    backdrop-filter: blur(1px);
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--background-color--opaque);
    width: calc(25rem - 8px);
}

#search:focus-within #search__suggestions, #search__suggestions:hover {
    display: flex;
}

#search__suggestions > :last-child:not(:first-child) {
    display: none;
}

.search__suggestion {
    padding: .5rem 4px .5rem 0;
}

.search__suggestion .line--accent {
    width: 4px;
    margin: auto 0;
    height: 0;
    background-color: var(--accent-color);
    transition: height .2s ease-in-out;
}

.search__suggestion__text {
    text-align: center;
    margin: 0 auto;
}

.search__suggestion:last-child {
    cursor: default;
}

.suggestion--focus:not(:last-child) .line--accent, .search__suggestion:hover:not(:last-child) .line--accent {
    height: 1.5rem;
}

.action-bar {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

[data-theme="dark"] .theme-toggle .wi-day-sunny {
    display: none;
}

[data-theme="light"] .theme-toggle .wi-night-clear {
    display: none;
}

#starred {
    margin: 1rem auto 0;
    width: fit-content;
    align-items: center;
    justify-items: end;
    flex-wrap: wrap;
}

.starred__station {
    height: 100%;
    margin: 0 auto;
}

.starred__station-name {
    padding: .5rem 1rem;
}

.starred__station .line--accent {
    margin: -4px auto 0;
    height: 4px;
    width: 0;
    transition: width .2s ease-in-out;
}

.starred__station--active .line--accent {
    width: 2rem;
}

#station {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: var(--background-color--opaque);
    backdrop-filter: blur(1px);
}

#station__name {
    text-align: center;
    font: inherit;
}

#station #station__name, #station #station__icon {
    padding: 0 1rem;
}

#station #station__icon, #station .wi {
    font-size: inherit;
}

#below-station-name[data-nowcast="2"] #station-info {
    height: 9rem;
}

#below-station-name[data-nowcast="1"] #nowcast {
    height: 20rem;
}

#station-info {
    overflow-y: clip;
    height: 0;
    text-align: center;
    transition: height .3s ease-in-out;
}

#station-info .flex-row > * {
    width: 100%;
    padding: .5rem;
}

#remember-station {
    padding: .5rem 1rem;
    margin: auto;
}

#nowcast {
    overflow-y: clip;
    height: 0;
    transition: height .3s ease-in-out;
}

.nowcast__time, #nowcast-unavailable {
    text-align: center;
}

#nowcast[data-nowcast-available="0"] > :not(#nowcast-unavailable) {
    display: none;
}

#nowcast[data-nowcast-available="1"] #nowcast-unavailable {
    display: none;
}

.day-select-container {
    overflow-x: scroll;
    padding: .5rem 0;
}

.day-select {
    margin: 0 auto;
    width: fit-content;
}

.tile {
    padding: .5rem 0;
    width: 11rem;
}

.tile > * {
    display: block;
    width: 100%;
    text-align: center;
}

.tile .wi {
    font-size: 2rem;
    margin: .5rem;
}

.day__icon__warning {
    font-size: 2rem;
}

#day-indicator {
    --animation--tab-indicator__start: 5%;
    --animation--tab-indicator__end: 5%;
}

.tab-row__tab {
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.indicator-line-container {
    position: relative;
    top: -4px;
    height: 4px;
}

.indicator {
    height: 100%;
    animation-fill-mode: both;
}

#tab-indicator {
    --animation--tab-indicator__start: 17%;
    --animation--tab-indicator__end: 17%;
}

.indicator__animation-to-right {
    animation: indicator--to-right .5s ease-in-out 0s alternate both;
}

.indicator__animation-to-left {
    animation: indicator--to-left .5s ease-in-out 0s alternate both;
}

@keyframes indicator--to-right {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

@keyframes indicator--to-left {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

#tab-content {
    height: 24.5rem;
    overflow-y: scroll;
    overflow-x: clip;
    margin: .5rem 0;
    transition: height .5s ease-in-out;
}

#tab-content-1 {
    display: none;
}

#tab-content-2 {
    display: none;
}

#tab-content-3 {
    display: none;
}

#tab-content-expander {
    text-align: center;
}

.tab-content--expanded #tab-content {
    height: 90rem;
}

.table__header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 5;
}

.table__header > :nth-child(2) {
    height: 4px;
}

.table__row {
    padding: .5rem 0;
}

.table__cell {
    width: 100%;
    text-align: center;
}

.day-data__tiles-container {
    overflow-x: visible;
}

.day-data-tile, .nowcast-tile {
    width: 100%;
}

.warning {
    padding: .5rem 0;
}

#no-warning {
    text-align: center;
    margin: auto;
    padding: .5rem 0;
}

.warning__header {
    padding: .5rem 0;
}

.warning__level {
    margin: auto 1rem auto auto;
}

.warning__level .line--regular {
    height: 4px;
    width: 2rem;
    margin-left: 1rem;
    background-color: var(--foreground-color--opaque);
}

.warning__level--1 > :nth-child(1),
.warning__level--2 > :nth-child(1),
.warning__level--2 > :nth-child(2),
.warning__level--3 > :nth-child(1),
.warning__level--3 > :nth-child(2),
.warning__level--3 > :nth-child(3),
.warning__level--4 > :nth-child(1),
.warning__level--4 > :nth-child(2),
.warning__level--4 > :nth-child(3),
.warning__level--4 > :nth-child(4){
    background-color: var(--foreground-color);
}


.warning__icon {
    margin: auto 1rem;
}

.warning__icon .wi {
    font-size: 2rem;
}

.warning__text__description {
    margin-bottom: .5rem;
}

.test {
    display: flex;
    flex-direction: column;
}

.test, .test .wi {
    font-size: 5rem !important;
}

footer {
    background-color: var(--background-color--opaque);
    backdrop-filter: blur(1px);
    padding: 0 1rem .2rem;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    height: 1.7rem;
    transition: height .3s ease-in-out;
    overflow-y: clip;
}

footer .line--regular {
    margin: .3rem 0;
}

footer:hover {
    height: 18.7rem;
}

footer #status-bar {
    text-align: center;
}

#keyboard-shortcuts {
    margin-bottom: 1rem;
}

#final-row > :last-child {
    text-align: right;
    margin-left: auto;
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 13px;
    }

    .forecast__row > :nth-child(5), .forecast__row > :nth-child(6), .forecast__row > :nth-child(7) {
        display: none;
    }

    #keyboard-shortcuts {
        display: none;
    }

    footer:hover {
        height: 4.5rem;
    }
}
