[data-color="red"] {
    --accent-light: #cb1a29;
    --accent-dark: #eb6c68;
}

[data-color="yellow"] {
    --accent-light: #e19d00;
    --accent-dark: #ffd52a;
}

[data-color="green"] {
    --accent-light: #0e7667;
    --accent-dark: #27f4e2;
}

[data-color="blue"] {
    --accent-light: #0e6aba;
    --accent-dark: #54bef6;
}

[data-color="purple"] {
    --accent-light: #654199;
    --accent-dark: #ba9cd4;
}

[data-color="gray"] {
    --accent-light: #586579;
    --accent-dark: #adbbc5;
}

:root {
    --background-color: #ffffff;
    --foreground-color: #000000;
    --background-color--opaque: #ffffffc0;
    --foreground-color--opaque: #00000011;
    --accent-color: var(--accent-light);
    --accent-inverted: var(--accent-dark);
    --accent-red: #cb1a29;
    --accent-yellow: #e19d00;
    --accent-green: #0e7667;
    --accent-blue: #0e6aba;
    --accent-purple: #654199;
    --accent-gray: #586579;
}

[data-theme="dark"] {
    --background-color: #121212;
    --foreground-color: #ffffff;
    --background-color--opaque: #121212c0;
    --foreground-color--opaque: #ffffff11;
    --accent-color: var(--accent-dark);
    --accent-inverted: var(--accent-light);
    --accent-red: #eb6c68;
    --accent-yellow: #ffd52a;
    --accent-green: #27f4e2;
    --accent-blue: #54bef6;
    --accent-purple: #ba9cd4;
    --accent-gray: #adbbc5;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground-color);
    border-radius: 2px;
}

button:focus {
    /*outline: var(--accent-color) dotted 4px;*/
}

* {
    scrollbar-color: var(--foreground-color) transparent;
    scrollbar-width: thin;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: clip;
}

#content {
    width: calc(100vw - 1rem);
    padding: 0 .5rem;
}

body, input, button, .tooltip:after {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI", "Oxygen", "Ubuntu", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    color: var(--foreground-color);
    background-color: var(--background-color);
}
/*
body {
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/
body, a, input, button, .hoverable, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    transition: background .5s ease-in-out, color .5s ease-in-out;
}

input, button {
    background-color: transparent;
    border: none;
}

a {
    color: var(--foreground-color);
}



.loading {
    cursor: progress;
}

.loading .wi-data:before {
    content: "\f07b";
}

.loading .wi-data {
    transform: rotate(0deg) !important;
}

.header {
    font-size: 2em;
}

h1, h2 {
    text-align: center;
}

strong, h1, h2, .header {
    font-weight: 600;
}

.wi {
    font-size: 1.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-column {
    display: flex;
}

.flex-row-column > * {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.padded-top-bottom {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ident {
    text-indent: 1rem;
}

.content-wrapper {
    margin: 0 auto;
    width: 60rem;
}

.line--accent {
    background-color: var(--accent-color);
    transition: background-color .5s ease-in-out;
    border-radius: 2px;
}

.line--regular {
    background-color: var(--foreground-color);
    transition: background-color .5s ease-in-out;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.hoverable {
    cursor: pointer;
    border-radius: .5rem;
    border: 4px solid transparent;
    transition: border .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}

.hoverable:hover {
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

.button--accent {
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.wi--alt-text--container {
    position: relative;
    width: 0;
    height: 0;
    bottom: 3.5rem;
    z-index: 50;
}

.wi--alt-text {
    position: absolute;
    white-space: nowrap;
    padding: .5rem;
    border-radius: .5rem;
    backdrop-filter: blur(.1rem);
    -webkit-backdrop-filter: blur(.1rem);
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

#load-indicator {
    display: none;
    position: sticky;
    top: .5rem;
    height: 4px;
    margin-top: -4px;
    animation: load-indication .7s ease-in-out 0s infinite alternate, load-indication--margin-right .7s ease-in-out 0s infinite alternate;
}

.loading #load-indicator {
    display: block;
}

@keyframes load-indication {
    0% {
        margin-left: calc(50% - 10rem);
        margin-right: calc(50% + 8rem);
    }
    25% {
        margin-left: calc(50% - 10rem);
    }
    75% {
        margin-right: calc(50% - 10rem);
    }
    100% {
        margin-left: calc(50% + 8rem);
        margin-right: calc(50% - 10rem);
    }
}

#search {
    margin: .5rem auto 0;
    max-width: 25rem;
}

.search__input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    padding-left: 0;
    padding-right: 0;
}

#search .line--regular {
    height: 4px;
    width: 100%;
    margin: auto;
    transition: width .3s ease-in-out, background-color .5s ease-in-out;
}

#search:focus-within .line--regular {
    width: 2rem;
    background-color: var(--accent-color);
}

#search__suggestions {
    top: 4rem;
    display: none;
}

.options {
    position: absolute;
    z-index: 50;
    border: 4px solid var(--foreground-color--opaque);
    padding-right: 4px;
    width: calc(25rem - 12px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#search:focus-within #search__suggestions, #search__suggestions:active {
    display: flex;
}

#search__suggestions > :last-child:not(:first-child) {
    display: none;
}

.options .line--accent {
    width: 4px;
    margin: auto 0;
    height: 0;
    background-color: var(--accent-color);
    transition: height .2s ease-in-out, background-color .5s ease-in-out;
}

.options:hover {
    background-color: transparent;
}

.search__suggestion__text {
    text-align: center;
}

.search__suggestion:last-child {
    cursor: default;
}

.option {
    padding: .5rem 0;
    width: 100%;
}

.option:not(.search__suggestion):hover .line--accent, .option--focus .line--accent {
    height: 1.5rem;
}

.suggestion--focus:not(:last-child) .line--accent, .search__suggestion:hover:not(:last-child) .line--accent {
    height: 1.5rem;
}

[data-theme="dark"] .theme-toggle .wi-day-sunny {
    display: none;
}

[data-theme="light"] .theme-toggle .wi-night-clear {
    display: none;
}

#starred-wrapper {
    margin-top: 1rem;
    max-width: fit-content;
    align-items: center;
    justify-items: end;
    flex-wrap: wrap;
}

#starred-wrapper > * {
    padding-bottom: .5rem;
}

#starred {
    width: fit-content;
    align-items: center;
    overflow-x: scroll;
}

.selectable--horizontal {
    height: 100%;
}

.selectable__text {
    padding: .5rem 1rem;
    white-space: nowrap;
}

.selectable--horizontal .line--accent {
    margin: -4px auto 0;
    height: 4px;
    width: 0;
    transition: width .2s ease-in-out, background-color .5s ease-in-out;
}

.selectable--horizontal--active .line--accent {
    width: 2rem;
}

.starred__action {
    font-weight: 700;
    width: 3.5rem;
    text-align: center;
}

#station {
    flex-wrap: wrap;
}

#station__name {
    text-align: center;
    font: inherit;
}

#station #station__name, #station #station__icon {
    white-space: normal;
    /*padding: 0 1rem;
    /*transition: padding .3s ease-in-out, border .5s, background-color .5s;*/
}

#station #station__icon, #station .wi {
    font-size: inherit;
}

#below-station-name[data-nowcast="1"] #station-info {
    height: 6rem;
}

#below-station-name[data-nowcast="2"] #nowcast {
    height: 20rem;
}

#below-station-name[data-nowcast="2"] #nowcast[data-nowcast-available="0"] {
    height: 3rem;
}

#station-info {
    overflow-y: clip;
    height: 0;
    text-align: center;
    transition: height .3s ease-in-out;
}

#station-info .flex-row > * {
    width: 100%;
    padding: .5rem;
}

#nowcast {
    overflow-y: clip;
    height: 0;
    transition: height .3s ease-in-out;
}

.nowcast__time, #nowcast-unavailable {
    text-align: center;
}

#nowcast[data-nowcast-available="0"] > :not(#nowcast-unavailable) {
    display: none;
}

#nowcast[data-nowcast-available="1"] #nowcast-unavailable {
    display: none;
}

#day-select-container {
    overflow-x: scroll;
}

#day-select {
    width: fit-content;
}

.day-option__text {
    width: 100%;
    text-align: center;
}

.day-option__text > :nth-child(2) {
    width: 100%;
}

.day-option__text > :first-child, .day-option__text > :last-child {
    width: 20%;
}

.tile {
    padding: .5rem 0;
    width: 11rem;
}

.tile > * {
    display: block;
    width: 100%;
    text-align: center;
}

.tile .wi {
    font-size: 2rem;
    margin: .5rem;
}

.day__icon__warning {
    font-size: 2rem;
}

#day-indicator {
    --animation--tab-indicator__start: 5%;
    --animation--tab-indicator__end: 5%;
}

.tab-row__tab {
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.indicator-line-container {
    position: relative;
    top: -4px;
    height: 4px;
}

.indicator {
    height: 100%;
    animation-fill-mode: both;
}

.day-select--mobile {
    max-width: 25rem;
}

#tab-indicator {
    --animation--tab-indicator__start: calc(100% / 6);
    --animation--tab-indicator__end: calc(100% / 6);
}

.indicator__animation-to-right {
    animation: indicator--to-right .5s ease-in-out 0s alternate both;
}

.indicator__animation-to-left {
    animation: indicator--to-left .5s ease-in-out 0s alternate both;
}

@keyframes indicator--to-right {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

@keyframes indicator--to-left {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

#tab-content {
    height: 24.5rem;
    overflow-y: scroll;
    overflow-x: clip;
    margin: .5rem 0;
    transition: height .5s ease-in-out;
}

#tab-content-1 {
    display: none;
}

#tab-content-2 {
    display: none;
}

#tab-content-3 {
    display: none;
}

#tab-content-expander {
    text-align: center;
}

.tab-content--expanded #tab-content {
    height: 90rem;
}

.table__header {
    position: sticky;
    top: 0;
    z-index: 5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.table__header > :nth-child(2) {
    height: 4px;
}

.table__cell {
    width: 100%;
    text-align: center;
}

.day-data__tiles-container {
    overflow-x: visible;
}

.day-data-tile, .nowcast-tile {
    width: 100%;
}

#no-warning {
    text-align: center;
    margin: auto;
}

.warning__title {
    margin-right: auto;
}

.warning__level {
    margin: auto 0;
}

.warning__level .line--regular {
    height: 4px;
    width: 2rem;
    margin-left: 1rem;
    background-color: var(--foreground-color--opaque);
}

.warning__level--1 > :nth-child(1),
.warning__level--2 > :nth-child(1),
.warning__level--2 > :nth-child(2),
.warning__level--3 > :nth-child(1),
.warning__level--3 > :nth-child(2),
.warning__level--3 > :nth-child(3),
.warning__level--4 > :nth-child(1),
.warning__level--4 > :nth-child(2),
.warning__level--4 > :nth-child(3),
.warning__level--4 > :nth-child(4){
    background-color: var(--foreground-color);
}


.warning__icon {
    margin: auto 0;
    padding: 0 1rem;
}

.warning__icon .wi {
    font-size: 2rem;
}

.warning__text__description {
    margin-bottom: .5rem;
}

.test {
    display: flex;
    flex-direction: column;
}

.test, .test .wi {
    font-size: 5rem !important;
}

footer {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0 .5rem .2rem;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    height: 1.7rem;
    transition: height .3s ease-in-out;
    overflow-y: clip;
    text-align: center;
}

footer .line--regular {
    margin: .3rem 0;
}

footer:hover, footer:active {
    height: 15.5rem;
}

#footer__status-bar {
    text-align: center;
    height: 1.7rem;
}

#footer__status-bar__content {
    margin: auto;
}

#credits {
    margin-top: 1rem;
}

@media screen and (min-width: 1001px) {
    .desktop-only {
        display: inherit;
    }
    .mobile-only {
        display: none;
    }

    .flex-row-column {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px), screen and (max-height: 900px) {
    :root {
        font-size: 13px;
    }

    .desktop-only {
        display: inherit;
    }

    .mobile-only {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .content-wrapper {
        width: 100%;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: inherit;
    }

    /*.forecast__row > :nth-child(2) {
        width: 70%;
    }*/
}

@media screen and (max-width: 600px) {
    .forecast__row > :nth-child(7) {
        display: none;
    }

    footer {
        height: 3.5rem;
    }

    #footer__status-bar {
        height: 3.5rem;
        align-items: flex-end;
    }

    footer:hover, footer:active {
        height: 17.7rem;
    }
}

@media screen and (max-width: 500px) {
    .forecast__row > :nth-child(5) {
        display: none;
    }

    .flex-row-column {
        display: flex;
        flex-direction: column;
    }

    #below-station-name[data-nowcast="1"] #station-info {
        height: 9rem;
    }

    #below-station-name[data-nowcast="2"] #nowcast {
        height: 25rem;
    }

    #tab-content {
        height: 40rem;
    }
}