:root {
    --background-color: #ffffff;
    --foreground-color: #000000;
    --foreground-color--opaque: #00000011;
    --accent-color: #0e7667;
}

[data-theme="dark"] {
    --background-color: #121212;
    --foreground-color: #ffffff;
    --foreground-color--opaque: #ffffff11;
    --accent-color: #27f4e2;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    margin: 0;
    padding: 0 .5rem;
}

body, input, button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    color: var(--foreground-color);
}

input, button {
    background-color: transparent;
    border: none;
}

.wi {
    font-size: 1.5rem;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 60rem;
}

.line--accent {
    background-color: var(--accent-color);
    border-radius: 2px;
}

.line--regular {
    background-color: var(--foreground-color);
    border-radius: 2px;
}

.hoverable {
    cursor: pointer;
    border-radius: .5rem;
    border: 4px solid transparent;
    transition: border .5s, background-color .5s;
}

.hoverable:hover {
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

.button--accent {
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.wi--container {

}

.wi--alt-text--container {
    position: relative;
    width: 0;
    height: 0;
    bottom: 3.5rem;
    z-index: 50;
}

.wi--alt-text {
    position: absolute;
    white-space: nowrap;
    padding: .5rem;
    border-radius: .5rem;
    backdrop-filter: blur(.1rem);
    border: 4px solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

#load-indicator {
    display: none;
    position: sticky;
    top: .5rem;
    height: 4px;
    margin-top: -4px;
    animation: load-indication .7s ease-in-out 0s infinite alternate, load-indication--margin-right .7s ease-in-out 0s infinite alternate;
}

@keyframes load-indication {
    0% {
        margin-left: calc(50% - 5rem);
        margin-right: calc(50% + 3rem);
    }
    25% {
        margin-left: calc(50% - 5rem);
    }
    75% {
        margin-right: calc(50% - 5rem);
    }
    100% {
        margin-left: calc(50% + 3rem);
        margin-right: calc(50% - 5rem);
    }
}

.search {
    margin: 0 auto;
    max-width: 25rem;
}

.search__input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    padding: .5rem 0;
}

.search .line--regular {
    height: 4px;
    width: 100%;
    margin: auto;
    transition: .3s ease-in-out;
}

.search:focus-within .line--regular {
    width: 2rem;
    background-color: var(--accent-color);
}

.action-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

[data-theme="dark"] .theme-toggle .wi-day-sunny {
    display: none;
}

[data-theme="light"] .theme-toggle .wi-night-clear {
    display: none;
}

#starred {
    margin: 1rem auto 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.starred__station {
    margin: 0;
}

.starred__station-name {
    padding: .5rem 1rem;
}

.starred__station .line--accent {
    margin: -4px auto 0;
    height: 4px;
    width: 0;
    transition: .5s ease-in-out;
}

.starred__station--active .line--accent {
    width: 2rem;
}

#station-name {
    text-align: center;
}

.day-select-container {
    overflow-x: scroll;
    padding: .5rem 0;
}

.day-select {
    margin: 0 auto;
    width: fit-content;
}

.days {
    display: flex;
    flex-direction: row;
}

.day {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    width: 11rem;
}

.day span {
    display: block;
    text-align: center;
}

.day .wi {
    font-size: 2rem;
    margin: .5rem;
}

#day-indicator {
    --animation--tab-indicator__start: 5%;
    --animation--tab-indicator__end: 5%;
}

.tab-row {
    display: flex;
    flex-flow: row;
}

.tab-row__tab {
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.indicator-line-container {
    position: relative;
    top: -4px;
    height: 4px;
}

.indicator {
    height: 100%;
    animation-fill-mode: both;
}

#tab-indicator {
    --animation--tab-indicator__start: 17%;
    --animation--tab-indicator__end: 17%;
}

.indicator__animation-to-right {
    animation: indicator--to-right .5s ease-in-out 0s alternate both;
}

.indicator__animation-to-left {
    animation: indicator--to-left .5s ease-in-out 0s alternate both;
}

@keyframes indicator--to-right {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

@keyframes indicator--to-left {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

.table {
    display: flex;
    flex-direction: column;
}

.table > :nth-child(2) {
    height: 4px;
}

.table__row {
    display: flex;
    flex-direction: row;
    padding: .5rem 0;
}

.table__cell {
    width: 100%;
    text-align: center;
}

.table__cell .wi {
    line-height: 0;
}

.test {
    display: flex;
    flex-direction: column;
}

.test, .test .wi {
    font-size: 5rem !important;
}